h1,h2{
    
    color: red;
    font-family: 'Courier New', Courier, monospace;

}
.middle{
    text-align: left;
}
#dot
{
    color:dark;
    
    font-family: 'Times New Roman', Times, serif;
    
    margin-right: 50px ;
}
body{
    background-color: bisque;
}
.img
{
   margin-left: 40%;
   margin-right:100% ;
  
}
img{
    height: 250px;
    width: 400px;
}
p{
    text-align: left;
}
